<header>
    <section class="pos-absolute right-pos top-pos padding-right-small padding-top-xsmall">
        <div class="container " onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        </div>
    </section>
</header>



<script>
function myFunction(x) {
  x.classList.toggle("change");
}
</script>



