/* Logo Navigation Styling */

.logo-large {
  font-size: 6.25rem;
}

.logo-medium {
  font-size: 4rem;
}

.logo-small {
  font-size: 2rem;
}

.text-medium {
  font-size: 1.2rem;
}

/* .welcome-block {
  width: 100%;
  height: 100%;
} */
